<ol class="breadcrumb" style="margin-top: 70px">
  <li><%= link_to "Assignments", assignments_path %></li>
  <li><%= link_to @assignment.id, edit_assignment_path(@assignment) %></li>
  <li class="active">Edit</li>
</ol>
<%= render 'form' %>
